* text=auto

# Ignore stuff for export
/.github                          export-ignore
/doc                              export-ignore
/examples                         export-ignore
/php-tests                        export-ignore
/.php-cs-fixer.dist.php           export-ignore
/.scrutinizer.yml                 export-ignore
/composer-dependency-analyser.php export-ignore
/kwcms.json                       export-ignore
/phpstan.8.1.neon                 export-ignore
/phpunit.xml                      export-ignore
